<!DOCTYPE html>
<html>
<head>
    {% block head %}
    {% block title %}
    <title>{{ title }}</title>
    {% end %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ static_url('bootstrap.min.js') }}"></script>
    <link href="{{ static_url('bootstrap.min.css') }}" rel="stylesheet">
    {% end %}
</head>
<body>
    <header class="page-header">
    {% block header %}
    {% end %}
    </header>
<div class="container">
    {% block content %}
    {% end %}
</div>
<footer class="container">
    {% block footer %}
    <h4>py-clave © 2013 Gabriele Alese</h4>
    <p><a href="http://www.alese.it">alese.it</a></p>
    {% end %}
</footer>
</body>
</html>
