<!DOCTYPE html>
<html>
<head>
    <title>General Catalogue</title>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
</head>
<body>
<h1>Publications available on this server:</h1>
<ul>
{% for i in output %}
<li><a href="/book/{{i}}">{{i}}</a>: {{output[i][0].encode("utf-8")}}, <a href="/book/{{i}}/download">{{output[i][1].encode("utf-8")}}</a></li>
{% end %}
</ul>
</body>
</html>
