<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ static_url('bootstrap.min.js') }}"></script>
    <link href="{{ static_url('bootstrap.min.css') }}" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="page-header">
  <h1>{{title}} <small>{{meta["creator"]}}</small></h1>
</div>
    <div class="row">
        {% if cover != None %}
        <div class="col-lg-2">
            <a href="/book/{{id}}/manifest/{{cover}}"><img src="/book/{{id}}/manifest/{{cover}}" class="img-thumbnail" width="100%"/></a>
        </div>
        {% end %}
        <div class="col-lg-10">
            <ul>
            {% for i in meta %}
            <li>{{i}}: {{meta[i]}}</li>
            {% end %}
            </ul>
        <a class="btn btn-success btn-large" href="/book/{{id}}/download">Download</a>
        </div>
    </div>
<h2>Book contents</h2>
    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-info">
            <div class="panel-heading">Table of Contents</div>
                <small><a href="/book/{{id}}/toc">(See JSON)</a></small>
            <ul class="list-group list-group-flush">
            {% for i,v in enumerate(contents) %}
                <li class="list-group-item"><a href="/book/{{id}}/chapter/{{contents[i].get('id')}}">{{contents[i].get("name")}}</a></li>
            {% end %}
            </ul>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-info">
            <div class="panel-heading">Manifest</div>
                <small><a href="/book/{{id}}/manifest">(See JSON)</a></small>
            <ul class="list-group list-group-flush">
            {% for i in manifest %}
                <li class="list-group-item"><a href="/book/{{id}}/manifest/{{i.get('id')}}">{{i.get("id")}}</a> <small>({{i.get("mimetype")}})</small></li>
            {% end %}
            </ul>
            </div>
        </div>
     </div>
</div>
</body>
</html>
